---
import type { CollectionEntry } from "astro:content";

import FormattedDate from "../FormattedDate.astro";

interface Props {
	post: CollectionEntry<"posts">;
}

const {
	post: { data, render },
} = Astro.props;

const { remarkPluginFrontmatter } = await render();

const dateTimeOptions: Intl.DateTimeFormatOptions = {
	dateStyle: "long",
	day: undefined,
	month: undefined,
	year: undefined,
};
---

{data.draft ? <span>(Draft)</span> : null}
<h1>
	{data.title}
</h1>
<div class="flow mt-xs text-grey flow-space-3xs">
	<p>
		<FormattedDate date={data.publishedDate} dateTimeOptions={dateTimeOptions} /> ~{" "}
		{remarkPluginFrontmatter.minutesRead}
	</p>
	{
		data.updatedDate && (
			<p>
				Updated:
				<FormattedDate class="ms-1" date={data.updatedDate} dateTimeOptions={dateTimeOptions} />
			</p>
		)
	}
</div>
