---
import type { SiteMeta } from "@/types";

import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/layout/Header.astro";
import { siteConfig } from "@/site-config";

import "../css/index.css";

interface Props {
	class?: string | string[] | undefined;
	meta: SiteMeta;
}

const {
	class: className = "",
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html lang={siteConfig.lang}>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
	</head>
	<body>
		<Header />
		<main class:list={className} id="main">
			<slot />
		</main>
	</body>
</html>
